[submodule "HLA-zoo"]
	path = HLA-zoo
	url = https://github.com/ekg/HLA-zoo.git
[submodule "pafcheck"]
	path = pafcheck
	url = https://github.com/ekg/pafcheck.git
[submodule "allwave"]
	path = allwave
	url = https://github.com/pangenome/allwave.git
[submodule "WFA2-lib"]
	path = WFA2-lib
	url = https://github.com/smarco/WFA2-lib.git
